.navigation {
    width: 25%;
    display: flex;
    justify-content: center;
}

.navText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

    .navTitle {
        font-weight: bold;
    }
}

.customNavItem {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}