
// custom variant of nav link
.nav-round-pills {
    .nav-link {
        background: none;
        border: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
    
      .nav-link.active,
      .show > .nav-link {
        color: #fff;
        background-color: #0275d8;
        width: 40px;
        height: 40px;
      }
}

.cursor-pointer {
    cursor: pointer;
}

.ml-25 {
    margin-left: 25%;
}

.input-group-text {
    font-size: 1.5rem;
    color: #717579;
    background-color: #fff;
    border-radius: 0.25rem 0 0 0.25rem;
}